.cover__inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media (min-width: 768px) {
    .cover__inner-container {
        padding: 115px 104px;
    }
}

@media (min-width: 1024px) {
    .cover__inner-container {
        padding: 195px 232px;
    }
}

@media (min-width: 1280px) {
    .cover__inner-container {
        padding: 245px 312px;
    }
}