.page {
    background: #2A2C2F;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .page {
        background: #825c8c;
    }
}

@media (min-width: 1024px) {
    .page {
        background: #7d9675;
    }
}

@media (min-width: 1280px) {
    .page {
        background: #83d5d9;
    }
}