.places {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #fff;
}

.places__place {
    display: grid;
    gap: 32px;
}

.places__place:not(:last-of-type) {
    margin: 0 0 50px 0;
}

.places__column {
    display: grid;
    align-items: start;
    justify-items: start;
    gap: 32px;
}

.places__column_left {
    align-items: end;
}

.places__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    padding: 0 16px;
    margin: 0;
}

.places__website {
    padding: 0 16px;
}

.places__url-heading {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 2px;
    color: #AAAAAA;
    padding: 0;
    margin: 0 0 12px 0;
}

.places__link {
    font-size: 18px;
    line-height: 122%;
    color: inherit;
    text-decoration-line: underline;
}


.places__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: start;
}

.places__paragraphs {
    padding: 0 16px;
    margin: 0;
}

.places__paragraph {
    padding: 0;
    margin: 0 0 25px 0;
}

@media (min-width: 768px) {
    .places__place {
        gap: 48px;
        padding: 0 24px;
    }

    .places__place:not(:last-of-type) {
        margin: 0 0 73px 0;
    }

    .places__column {
        gap: 28px;
        grid-template-columns: minmax(auto, 340px) 1fr;
    }


    .places__title {
        font-size: 42px;
        line-height: 110%;
        /*max-width: 330px;*/
        padding: 0;
    }

    .places__website {
        padding: 0;

    }
    .places__image {
        max-width: 340px;
        max-height: 340px;

    }

    .places__paragraphs {
        padding: 0;
    }

    .places__paragraph {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .places__place {
        padding: 0 48px;
    }

    .places__place:not(:last-of-type) {
        margin: 0 0 80px 0;
    }

    .places__column {
        gap: 32px;
        grid-template-columns: minmax(auto, 440px) 1fr;
    }

    .places__title {
        font-size: 72px;
        line-height: 106%;
        /*max-width: none;*/
    }

    .places__image {
        max-width: 440px;
        max-height: 440px;
    }

    .places__paragraph {
        margin: 0 0 27px 0;
    }
}

@media (min-width: 1280px) {
    .places__place {
        padding: 0 148px;
    }

    .places__column {
        gap: 40px;
        grid-template-columns: minmax(auto, 460px) 1fr;
    }

    .places__image {
        max-width: 460px;
        max-height: 460px;
    }
}