.main__intro {
    margin: 0 0 64px 0;
}

@media (min-width: 768px) {
    .main__intro {
        margin: 0 0 88px 0;
    }
}

@media (min-width: 1024px) {
    .main__intro {
        margin: 0 auto 92px auto;
    }
}