.header__link_active {
    position: relative;
}

.header__link_active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    background-color: #fff;
    width: 100%;
    height: 2px;
}