.root__main {
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .root__main {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .root__main {
        margin-bottom: 92px;
    }
}