.main__places {
    margin: 0 0 66px 0;
}

@media (min-width: 768px) {
    .main__places {
        margin-bottom: 90px;
    }
}

@media (min-width: 1024px) {
    .main__places {
        margin-bottom: 92px;
    }
}