.main__places {
    margin-bottom: 66px;
}

@media (min-width: 768px) {
    .main__places {
        margin-bottom: 90px;
    }
}

@media (min-width: 1024px) {
    .main__places {
        margin-bottom: 92px;
    }
}