.place__paragraph {
    font-weight: 400;
    font-size: 16px;
    word-break: normal;
    line-height: 29px;
    padding: 0;
    margin: 0;
}

.place__paragraph:not(:last-of-type) {
    margin: 0 0 25px 0;
}

@media (min-width: 768px) {
    .place__paragraph {
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    .place__paragraph:not(:last-of-type) {
        margin: 0 0 27px 0;
    }
}