.root {
    box-sizing: border-box;
    overflow: hidden;
    max-width: 1280px;
    padding: 16px 0 24px 0;
    margin: 0 auto;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@media (min-width: 768px) {
    .root {
        padding: 28px 0 24px 0;
    }
}