.root {
    background: #2A2C2F;
    width: 100vw;
    margin: 0;
    padding: 16px 0 24px 0;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .root {
        background: #825c8c;
        padding: 24px 0 24px 0;
    }
}

@media (min-width: 1024px) {
    .root {
        background: #7d9675;
    }
}

@media (min-width: 1280px) {
    .root {
        background: #83d5d9;
    }
}