.lead__subtitle {
    font-size: 16px;
    line-height: 125%;
    max-width: 300px;
    padding: 0;
    margin: 0 16px 40px 16px;
}

@media (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 120%;
        max-width: 600px;
        margin: 0 24px 56px 24px;
    }
}

@media (min-width: 1024px) {
    .lead__subtitle {
        margin: 0 48px 54px 48px;
    }
}

@media (min-width: 1024px) {
    .lead__subtitle {
        margin: 0 48px 64px 48px;
    }
}

