.cover {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.cover__overlay-link {
    color: inherit;
    text-decoration: none;
    position: relative;
    background: url('../../images/main/cover/cover__image.jpg') center/cover no-repeat;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 200px;
}

.cover__overlay-link::after {
    content: "";
    position: absolute;
    background: rgba(42, 44, 47, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover__inner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}



.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    padding: 0;
    margin: 0 0 16px 0;
}

.cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    max-width: 288px;
    padding: 0;
    margin: 0;
}

.cover__break-word {

}

@media (min-width: 678px) {
    .cover__subtitle {
       max-width: 360px;
    }
    .cover__break-word {
        display: none;
    }

    .cover__inner-container {
        padding: 115px 104px;
    }

    .cover__title {
        font-size: 72px;
        line-height: 106%;
    }

    .cover__subtitle {
        font-size: 18px;
        line-height: 122%;
    }
}

@media (min-width: 1024px) {
    .cover__inner-container {
        padding: 195px 232px;
    }
}

@media (min-width: 1280px) {
    .cover__inner-container {
        padding: 245px 312px;
    }
}