.cover {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

@media (min-width: 1280px) {
    .cover {
        padding: 0 48px;
    }
}