.place__link {
    font-size: 18px;
    line-height: 122%;
    color: inherit;
    text-decoration-line: underline;
    opacity: 1;
    transition: opacity .4s ease;
}

.place__link:hover {
    opacity: 0.8;
}