.place__link {
    font-size: 18px;
    line-height: 122%;
    color: inherit;
    position: relative;
    top: -2px;
    text-decoration: none;
    opacity: 1;
    transition: opacity .4s ease;
}

.place__link:hover {
    opacity: 0.8;
}

.place__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    height: 1px;
}