.main__lead {
    margin-top: 48px;
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .main__intro {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .main__intro {
        margin-bottom: 92px;
    }
}

@media (min-width: 1280px) {
    .main__lead {
        margin-top: 56px;
    }
}