.main__lead {
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .main__intro {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .main__intro {
        margin-bottom: 92px;
    }
}