.cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 109%;
    padding: 0;
    margin: 0 0 16px 0;
}

@media (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 106%;
    }
}