.cover__overlay-link {
    color: inherit;
    text-decoration: none;
    position: relative;
    background-image: url('../../../images/main/cover/cover__image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 200px;
}

.cover__overlay-link:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.cover__overlay-link::after {
    content: "";
    position: absolute;
    background: rgba(42, 44, 47, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}